In [2]:
import psycopg2
import pandas as pd
import os
from dotenv import load_dotenv

In [3]:
# loading the env to get database credentials
load_dotenv()

True

In [4]:
# Getting the db credentials from .env file
DB_NAME = os.getenv('DB_NAME')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD  = os.getenv('DB_PASSWORD')
DB_HOST = os.getenv('DB_HOST')

In [13]:
# connecting to the database
conn = psycopg2.connect(
    dbname=DB_NAME,
    user=DB_USER,
    password=DB_PASSWORD,
    host=DB_HOST
)
cur = conn.cursor()

## 1. What is the most common type of crime (based on 'Crm Cd Desc') in each area (based on 'AREA NAME')?

In [ ]:
# sql query required
sql_query = '''
WITH crime_counts AS (
select area_name, crm_cd_desc,
count(*) as count_per_area_per_crime,
ROW_NUMBER() OVER (PARTITION BY area_name ORDER BY COUNT(*) DESC) as rn
from la_crime
group by area_name,crm_cd_desc
)

SELECT area_name, crm_cd_desc as most_common_crime, count_per_area_per_crime
from crime_counts
    where rn=1;
'''
df = pd.read_sql_query(sql_query, conn)

In [15]:
df

      area_name         most_common_crime  count_per_area_per_crime
0   77th Street          VEHICLE - STOLEN                      5671
1       Central     BURGLARY FROM VEHICLE                      6552
2    Devonshire          VEHICLE - STOLEN                      2706
3      Foothill          VEHICLE - STOLEN                      3002
4        Harbor          VEHICLE - STOLEN                      4033
5    Hollenbeck          VEHICLE - STOLEN                      4295
6     Hollywood  BATTERY - SIMPLE ASSAULT                      3387
7       Mission          VEHICLE - STOLEN                      3861
8   N Hollywood          VEHICLE - STOLEN                      3301
9        Newton          VEHICLE - STOLEN                      5486
10    Northeast          VEHICLE - STOLEN                      3695
11      Olympic          VEHICLE - STOLEN                      3904
12      Pacific          VEHICLE - STOLEN                      4366
13      Rampart          VEHICLE - STOLEN                      3579
14    Southeast          VEHICLE - STOLEN                      4875
15    Southwest          VEHICLE - STOLEN                      4207
16      Topanga                  BURGLARY                      2441
17     Van Nuys          VEHICLE - STOLEN                      3073
18      West LA                  BURGLARY                      3430
19  West Valley          VEHICLE - STOLEN                      2838
20     Wilshire                  BURGLARY                      2799